* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #dfffe9;
}

.main-class {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4vh 0;
}

.main-class {
  display: flex;
  justify-content: center;
  align-items: center;

  justify-content: center;
  overflow: scroll;
}

.main-content {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 75%;
  border-radius: 2rem;
  gap: 1rem;
  background-color: rgb(238, 238, 238);
  font-family: 'Roboto', sans-serif;
}

.main-title {
  padding-bottom: 1rem;

  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.name-input-div {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
}

.name-wrap {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.name-wrap label {
  cursor: auto;
}

.input-name {
  border: 1px solid gray;
  border-radius: 5px;
  height: 2rem;
}

.email-wrap {
  display: flex;
  flex-direction: column;
}

.email-wrap label {
  cursor: auto;
}

.input-email {
  border: 1px solid gray;
  border-radius: 5px;
  height: 2rem;
}

.query-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

.query-item {
  border: 1px solid #797979;
  border-radius: 10px;
  text-wrap: nowrap;
  flex: 1;
  gap: 1rem;
  padding: 1rem 1rem;
  padding-left: 1rem;
}

.query-item label,
.query-item input {
  cursor: pointer;
}

.checkbox-wrap {
  display: flex;
  gap: 1rem;
}

.txt-wrap {
  display: flex;
  flex-direction: column;
}

.txt-wrap label {
  cursor: auto;
}

.txt-wrap textarea {
  resize: none;

  border-radius: 10px;
  height: 5rem;
}

.submit-btn {
  border: none;
  background-color: #0c7c69;
  color: white;
  padding: 1rem;
  border-radius: 10px;

  font-size: 1rem;
  letter-spacing: 2px;

  cursor: pointer;
  transition: 0.2s;
}

.submit-btn:hover {
  transform: scale(103%);
  transition: 0.2s;
}

.required-tag {
  color: #0c7c69;
}

@media (max-width: 300px) {
  body::before {
    content: 'O tamanho da tela não é compatível para a exibição do site.';
    display: block;
    background-color: red;
    color: white;
    text-align: center;
    padding: 10px;
  }

  .main-content {
    display: none;
  }
}
