*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: #E2F1E7;
}

.main-class{
    align-items: center;
    display: flex;
}

.main-content{
    display: flex;
    flex-direction: column;
    padding: 40px;
    width: 70%;
    margin: 0 auto;
    margin-top: 10rem;
    border-radius: 2rem;

    background-color: white;

    font-family: "Roboto", sans-serif;
}

.main-title{
    padding-bottom: 3rem;


    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.name-input-div{
    display: flex;
    justify-content: space-around;
}